.body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.row{
    /* width: 300px;
    margin: 1px solid red;
    padding: 50px;
    margin: 20px;
    background-color: aqua;
    float: left;
    width: 50%; */
}
.column{
    /* display: flex;
    flex-direction: column; */
}

input{
    width: 300px;
    height: 50px;
}